openapi: 3.1.0
info:
  title: Criteo Retail Media Accounts Products API
  description: 'Criteo Retail Media programmatic API for campaign management, audiences,

    line items, products, keywords, balances, catalogs, categories and

    reporting. Endpoint inventory drawn from https://developers.criteo.com.

    '
  version: 2026-01
  contact:
    name: Criteo Developers
    url: https://developers.criteo.com
servers:
- url: https://api.criteo.com
  description: Production
security:
- OAuth2ClientCredentials: []
tags:
- name: Products
paths:
  /2026-01/retail-media/line-items/{lineItemId}/products:
    get:
      summary: List promoted products
      operationId: getPromotedProducts
      tags:
      - Products
      parameters:
      - in: path
        name: lineItemId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Products
  /2026-01/retail-media/line-items/{lineItemId}/products/append:
    post:
      summary: Add promoted products
      operationId: addPromotedProducts
      tags:
      - Products
      parameters:
      - in: path
        name: lineItemId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Added
  /2026-01/retail-media/line-items/{lineItemId}/products/delete:
    delete:
      summary: Remove promoted products
      operationId: removePromotedProducts
      tags:
      - Products
      parameters:
      - in: path
        name: lineItemId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Removed
components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.criteo.com/oauth2/token
          scopes: {}
        authorizationCode:
          authorizationUrl: https://consent.criteo.com/authorize
          tokenUrl: https://api.criteo.com/oauth2/token
          scopes: {}
