openapi: 3.1.0
info:
  title: Criteo Retail Media Accounts Keywords API
  description: 'Criteo Retail Media programmatic API for campaign management, audiences,

    line items, products, keywords, balances, catalogs, categories and

    reporting. Endpoint inventory drawn from https://developers.criteo.com.

    '
  version: 2026-01
  contact:
    name: Criteo Developers
    url: https://developers.criteo.com
servers:
- url: https://api.criteo.com
  description: Production
security:
- OAuth2ClientCredentials: []
tags:
- name: Keywords
paths:
  /2026-01/retail-media/line-items/{lineItemId}/keywords:
    get:
      summary: List keywords
      operationId: getKeywords
      tags:
      - Keywords
      parameters:
      - in: path
        name: lineItemId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Keywords
  /2026-01/retail-media/line-items/{lineItemId}/keywords/add-remove:
    post:
      summary: Add/remove keywords in bulk
      operationId: bulkKeywords
      tags:
      - Keywords
      parameters:
      - in: path
        name: lineItemId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Updated
components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.criteo.com/oauth2/token
          scopes: {}
        authorizationCode:
          authorizationUrl: https://consent.criteo.com/authorize
          tokenUrl: https://api.criteo.com/oauth2/token
          scopes: {}
