openapi: 3.1.0
info:
  title: Criteo Retail Media Accounts Catalogs API
  description: 'Criteo Retail Media programmatic API for campaign management, audiences,

    line items, products, keywords, balances, catalogs, categories and

    reporting. Endpoint inventory drawn from https://developers.criteo.com.

    '
  version: 2026-01
  contact:
    name: Criteo Developers
    url: https://developers.criteo.com
servers:
- url: https://api.criteo.com
  description: Production
security:
- OAuth2ClientCredentials: []
tags:
- name: Catalogs
paths:
  /2026-01/retail-media/accounts/{accountId}/catalogs:
    post:
      summary: Request catalog export
      operationId: createCatalog
      tags:
      - Catalogs
      parameters:
      - in: path
        name: accountId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Catalog job
  /2026-01/retail-media/catalogs/{catalogId}/status:
    get:
      summary: Get catalog status
      operationId: getCatalogStatus
      tags:
      - Catalogs
      parameters:
      - in: path
        name: catalogId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Status
  /2026-01/retail-media/catalogs/{catalogId}/output:
    get:
      summary: Get catalog output
      operationId: getCatalogOutput
      tags:
      - Catalogs
      parameters:
      - in: path
        name: catalogId
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Catalog data
components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.criteo.com/oauth2/token
          scopes: {}
        authorizationCode:
          authorizationUrl: https://consent.criteo.com/authorize
          tokenUrl: https://api.criteo.com/oauth2/token
          scopes: {}
