openapi: 3.2.0
info:
  title: Criteo Campaign API
  version: 2026-07
  description: 'Operations tagged Campaign across 2 of this provider''s published API definitions: criteo-marketing-solutions-api-openapi.yml, criteo-retail-media-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.criteo.com
security:
- oauth: []
tags:
- name: Campaign
paths:
  /2026-07/marketing-solutions/ad-sets:
    patch:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/ad-sets
      description: Patch a list of AdSets.
      operationId: PatchAdSets
      requestBody:
        description: List of adsets to patch.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestsPatchAdSetV26Q1'
        required: true
        x-bodyName: adSets
      responses:
        '200':
          description: Patched attributes for adSets specified in the request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetIdV26Q1'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
    post:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/ad-sets
      description: Create an ad set with the provided parameters
      operationId: CreateAdSet
      requestBody:
        description: the ad sets to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAdSetV26Q1Request'
        required: true
        x-bodyName: adSet
      responses:
        '201':
          description: The ad set that has been created and errors / warnings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseReadAdSetV26Q1'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/ad-sets/{ad-set-id}:
    get:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/ad-sets/{ad-set-id}
      description: Get the data for the specified ad set
      operationId: GetAdSet
      parameters:
      - name: ad-set-id
        in: path
        description: Id of the ad set
        required: true
        schema:
          type: string
      responses:
        '200':
          description: data for the ad set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseReadAdSetV26Q1'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/ad-sets/{ad-set-id}/audience:
    put:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/ad-sets/{ad-set-id}/audience
      description: Link or unlink an audience with an ad set
      operationId: UpdateAdSetAudience
      parameters:
      - name: ad-set-id
        in: path
        description: The ad set ID.
        required: true
        schema:
          type: string
      requestBody:
        description: Ad set-Audience update request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdSetAudienceLinkInputEntityV1'
        required: true
        x-bodyName: request
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetAudienceLinkEntityV1Response'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/ad-sets/{ad-set-id}/category-bids:
    get:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/ad-sets/{ad-set-id}/category-bids
      description: Get the Category Bids for all valid Categories associated to an Ad Set
      operationId: GetAdSetCategoryBids
      parameters:
      - name: ad-set-id
        in: path
        description: Id of the Ad Set
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of Category Bids for all valid Categories associated to an Ad Set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetCategoryBidListResponse'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
    patch:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/ad-sets/{ad-set-id}/category-bids
      description: 'Update the Category Bids for given Categories associated to an Ad Set

        Patch Category Bids for one or more Categories in a single request. Partial success policy is followed.'
      operationId: PatchAdSetCategoryBids
      parameters:
      - name: ad-set-id
        in: path
        description: Id of the Ad Set
        required: true
        schema:
          type: string
      requestBody:
        description: Collection of category bids to update
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAdSetCategoryBidListRequest'
        required: true
        x-bodyName: categoryBidsToUpdate
      responses:
        '200':
          description: List of updated Category Bids for given Categories associated to an Ad Set, used for partial successes as well.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchAdSetCategoryBidResultListResponse'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/ad-sets/{ad-set-id}/display-multipliers:
    get:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/ad-sets/{ad-set-id}/display-multipliers
      description: Get the Display Multipliers for all valid Categories associated to an Ad Set
      operationId: GetDisplayMultipliers
      parameters:
      - name: ad-set-id
        in: path
        description: Id of the Ad Set
        required: true
        schema:
          type: string
      responses:
        '200':
          description: List of Display Multipliers for all valid Categories associated to an Ad Set.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdSetDisplayMultiplierListResponse'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
    patch:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/ad-sets/{ad-set-id}/display-multipliers
      description: 'Update the Display Multipliers for given Categories associated to an Ad Set

        Patch Display Multipliers for one or more Categories in a single request. Partial success policy is followed.'
      operationId: PatchDisplayMultipliers
      parameters:
      - name: ad-set-id
        in: path
        description: Id of the Ad Set
        required: true
        schema:
          type: string
      requestBody:
        description: List of display multiplier values to change
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchAdSetDisplayMultiplierListRequest'
        required: true
        x-bodyName: displayMultipliersToUpdate
      responses:
        '200':
          description: List of updated Display Multipliers for given Categories associated to an Ad Set. Make sure to check the error field in the response since a partial success will result in a 200 response code.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchAdSetDisplayMultiplierResultListResponse'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/ad-sets/search:
    post:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/ad-sets/search
      description: "Search for ad sets based on provided criteria.\nThis returns the full configuration of ad sets matching those criteria.\nField projection can be used if only a subset of fields is required, instead of the full configuration.\n            \nIf specific fields are precised in the user prompt, use meta.fields field projection in order to query only the value of these fields, else, provide every field."
      operationId: SearchAdSets
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdSetSearchRequestV26Q1'
        x-bodyName: request
      responses:
        '200':
          description: data for the ad sets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesReadAdSetV26Q1'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/ad-sets/start:
    post:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/ad-sets/start
      description: Start the specified list of ad sets
      operationId: StartAdSets
      requestBody:
        description: All the ad sets to start
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
        x-bodyName: adSets
      responses:
        '200':
          description: List of ad sets that have been started and errors / warnings by ad set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/ad-sets/stop:
    post:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/ad-sets/stop
      description: Stop the specified list of ad sets
      operationId: StopAdSets
      requestBody:
        description: All the ad sets to stop
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestsAdSetId'
        x-bodyName: adSets
      responses:
        '200':
          description: List of ad sets that have been stopped and errors / warnings by ad set
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponsesAdSetId'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/campaigns:
    patch:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/campaigns
      description: "Patch a list of Campaigns.\n            \nA campaign, or in other words a marketing campaign, is an entity that defines advertising objectives and success criteria."
      operationId: PatchCampaigns
      requestBody:
        description: List of campaigns to patch.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchCampaignListRequest'
        required: true
        x-bodyName: request
      responses:
        '200':
          description: List of patched campaigns.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatchResultCampaignListResponse'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
    post:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/campaigns
      description: "Create the specified campaign\n            \nA campaign, or in other words a marketing campaign, is an entity that defines advertising objectives and success criteria."
      operationId: CreateCampaign
      requestBody:
        description: the campaigns to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCampaignRequest'
        required: true
        x-bodyName: marketingCampaign
      responses:
        '201':
          description: The campaign that has been created and errors / warnings
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignV23Q1Response'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/campaigns/{campaign-id}:
    get:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/campaigns/{campaign-id}
      description: "Get the data for the specified campaign.\n            \nA campaign, or in other words a marketing campaign, is an entity that defines advertising objectives and success criteria."
      operationId: GetCampaign
      parameters:
      - name: campaign-id
        in: path
        description: ID of the marketing campaign; This field is required.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns the data of the specified marketing campaign.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignV23Q1Response'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/campaigns/search:
    post:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/campaigns/search
      description: "Search endpoint for campaigns\n            \nA campaign, or in other words a marketing campaign, is an entity that defines advertising objectives and success criteria."
      operationId: SearchCampaigns
      requestBody:
        description: Filters for searching for campaigns
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CampaignSearchRequestV23Q1'
        x-bodyName: request
      responses:
        '200':
          description: Returns a list of marketing campaigns' data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignV23Q1ListResponse'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/marketplace-performance-outcomes/advertisers:
    get:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/marketplace-performance-outcomes/advertisers
      description: Get the collection of advertisers associated with the user.
      operationId: GetMarketplaceAdvertisers
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdvertiserInfoMessage'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}:
    get:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}
      description: Get an advertiser.
      operationId: GetMarketplaceAdvertiser
      parameters:
      - name: advertiserId
        in: path
        description: Id of the advertiser
        required: true
        schema:
          type: string
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AdvertiserInfoMessage'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}/ad-preview:
    get:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}/ad-preview
      description: "Get a preview of an HTML ad with products belonging to the provided seller\n• <b>advertiserId</b>: Valid crp advertiserId, seller belongs to provided advertiser<br />\n• <b>sellerId</b>: Products from given SellerId will fill the ad preview, must be existing crp sellerId<br />\n• <b>height</b>: height may be supplied to request a specific ad preview height. Default height: 250<br />\n• <b>width</b>: width may be supplied to request a specific ad preview width. Default width: 300<br />\n            \nAd preview api calls are capped to 1000 per day per advertiser by default. Current usage, limit, and period can be found using v2/crp/advertisers/preview-limit"
      operationId: GetMarketplaceSellerAdPreview
      parameters:
      - name: advertiserId
        in: path
        description: Id of the advertiser
        required: true
        schema:
          type: string
          format: int32
      - name: campaignId
        in: query
        description: Seller CampaignId
        schema:
          type: integer
          format: int32
      - name: height
        in: query
        description: Height of the ad to display
        schema:
          type: integer
          format: int32
      - name: sellerId
        in: query
        description: Id of the seller
        required: true
        schema:
          type: integer
          format: int64
      - name: width
        in: query
        description: Width of the ad to display
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}/adsets:
    get:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}/adsets
      description: Get the collection of adsets associated with the advertiserId.
      operationId: GetMarketplaceAdSetsByAdvertiser
      parameters:
      - name: advertiserId
        in: path
        description: Id of the advertiser
        required: true
        schema:
          type: string
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdvertiserAdsetMessage'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}/budgets:
    get:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}/budgets
      description: Get CRP budgets for a specific advertiser
      operationId: GetMarketplaceBudgetsByAdvertiser
      parameters:
      - name: advertiserId
        in: path
        description: Id of the advertiser
        required: true
        schema:
          type: string
          format: int32
      - name: budgetId
        in: query
        description: Return only budgets with given Id
        schema:
          type: integer
          format: int64
      - name: endAfterDate
        in: query
        description: "Return budgets that end after the given date using the `yyyy-MM-DD` format.\n            If param is not provided, default behavior is to only return budgets that have not yet ended."
        schema:
          type: string
          format: date-time
      - name: sellerId
        in: query
        description: Return only budgets belonging to given sellerId
        schema:
          type: integer
          format: int64
      - name: startBeforeDate
        in: query
        description: Return budgets that start on or before the given date using the `yyyy-MM-DD` format.
        schema:
          type: string
          format: date-time
      - name: status
        in: query
        description: Return only budgets with the given status.
        schema:
          enum:
          - Archived
          - Current
          - Scheduled
          type: string
      - name: type
        in: query
        description: Return only budgets with the given budget type.
        schema:
          type: string
      - name: withBalance
        in: query
        description: Return only budgets with the given status.
        schema:
          type: boolean
      - name: withSpend
        in: query
        description: Return budgets with any positive spend.
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SellerBudgetMessage'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}/campaigns:
    get:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}/campaigns
      description: Get the collection of CRP campaigns associated with the advertiserId.
      operationId: GetMarketplaceCampaignsByAdvertiser
      parameters:
      - name: advertiserId
        in: path
        description: Id of the advertiser
        required: true
        schema:
          type: string
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdvertiserCampaignMessage'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}/seller-campaigns:
    get:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}/seller-campaigns
      description: Get CRP seller campaigns for a specific advertiser
      operationId: GetMarketplaceSellerCampaignsByAdvertiser
      parameters:
      - name: advertiserId
        in: path
        description: Id of the advertiser
        required: true
        schema:
          type: string
          format: int32
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SellerCampaignMessage'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}/sellers:
    post:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/marketplace-performance-outcomes/advertisers/{advertiserId}/sellers
      description: Create new sellers for an advertiser
      operationId: GetMarketplaceSellersByAdvertiser
      parameters:
      - name: advertiserId
        in: path
        description: Id of the advertiser
        required: true
        schema:
          type: string
          format: int32
      - name: partnerId
        in: query
        description: Id of the partner
        schema:
          type: integer
          format: int32
      requestBody:
        description: Names of the sellers to associate with new Ids
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
        required: true
        x-bodyName: sellerNames
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SellerBase'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/marketplace-performance-outcomes/advertisers/preview-limit:
    get:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/marketplace-performance-outcomes/advertisers/preview-limit
      description: Get the collection of advertisers preview limits associated with the authorized user.
      operationId: GetMarketplaceAdvertiserPreviewLimits
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AdvertiserQuotaMessage'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/marketplace-performance-outcomes/budgets:
    get:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/marketplace-performance-outcomes/budgets
      description: "Return a collection of budgets filtered by optional filter parameters, **including archived budgets**. This is the endpoint to use when investigating past budget history.\n            \nBy default, budgets whose endDate is in the past are excluded. Use `endAfterDate` to retrieve archived budgets (e.g. `endAfterDate=2025-01-01` returns all budgets ending after that date). Use `sellerId` to filter to a specific seller — omitting it on large advertisers causes timeouts.\n            \n<b>Date filter.</b> To find budgets that were active on a specific date, set both `startBeforeDate` and `endAfterDate` to that day.\n            \n<b>Spend.</b> If `endAfterDate` is supplied, the spend excludes spend that happened after that date. For daily budgets, only the spend for the final day is displayed."
      operationId: GetMarketplaceSellerBudgets
      parameters:
      - name: advertiserId
        in: query
        description: Return only budgets belonging to the specified advertiser
        schema:
          type: integer
          format: int32
      - name: campaignId
        in: query
        description: Return only budgets that pay for a given campaign.
        schema:
          type: integer
          format: int32
      - name: endAfterDate
        in: query
        description: "Return budgets that end after the given date using the `yyyy-MM-DD` format.\n             If param is not provided, default behavior is to only return budgets that have not yet ended."
        schema:
          type: string
          format: date-time
      - name: sellerId
        in: query
        description: Return only budgets belonging to the given seller.
        schema:
          type: string
      - name: startBeforeDate
        in: query
        description: Return budgets that start on or before the given date using the `yyyy-MM-DD` format.
        schema:
          type: string
          format: date-time
      - name: status
        in: query
        description: Return only budgets with the given status.
        schema:
          enum:
          - Archived
          - Current
          - Scheduled
          type: string
      - name: type
        in: query
        description: Return only budgets with the given budget type.
        schema:
          type: string
      - name: withBalance
        in: query
        description: Return only budgets with the given status.
        schema:
          type: boolean
      - name: withSpend
        in: query
        description: Return budgets with any positive spend.
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SellerBudgetMessage'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
    patch:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/marketplace-performance-outcomes/budgets
      description: "Modify one or more existing active budgets to change their limitations or status.\nAll three types of budgets can be modified.\n            \nThe following constraints apply when modifying an existing budget.\n            \n• <b>campaignIds</b>: a non-empty subset of the original campaign ids MAY be supplied<br />\n• <b>amount</b>: an amount MAY be supplied only if the type is not Uncapped and if supplied it MUST be non-negative<br />\n• <b>startDate</b>: a future start date MAY be supplied for budgets that have not yet started<br />\n• <b>endDate</b>: an end date MAY be supplied and if supplied MUST be a future date greater than the start date<br />\n            \nOther attributes MUST NOT be supplied.\n            \nAdding new campaigns to a budget is not allowed. In addition, reducing the amount for\na Capped budget to a value less than the current spend not allowed."
      operationId: UpdateMarketplaceSellerBudgets
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/UpdateSellerBudgetMessage'
        required: true
        x-bodyName: updateSellerBudgets
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SellerBudgetMessage'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
    post:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/marketplace-performance-outcomes/budgets
      description: "Create one or more new budgets to enable spending with the given limitations.\nAll three types of budgets can be created this way.\n            \nThe following constraints apply when creating a new budget.\n            \n• <b>sellerId</b>: the seller MUST be supplied<br />\n• <b>campaignIds</b>: a non-empty array of campaign ids MUST be supplied<br />\n• <b>budgetType</b>: a budget type MUST be supplied<br />\n• <b>amount</b>: an amount MAY be supplied only if the type is not Uncapped and if supplied it MUST be non-negative<br />\n• <b>startDate</b>: a future start date MUST be supplied<br />\n• <b>endDate</b>: an end date MAY be supplied and if supplied MUST be greater than the start date<br />\n            \nOther attributes MUST NOT be supplied."
      operationId: CreateMarketplaceSellerBudgets
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateSellerBudgetMapiMessage'
        required: true
        x-bodyName: createSellerBudgets
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SellerBudgetMessage'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/marketplace-performance-outcomes/budgets/{budgetId}:
    get:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/marketplace-performance-outcomes/budgets/{budgetId}
      description: "Return a budget. For example,\n            \n    {\n        \"id\": \"1759183\",\n        \"sellerId\": \"321392\",\n        \"campaignIds\": [\n            143962\n        ],\n        \"budgetType\": \"Capped\",\n        \"amount\": 1000,\n        \"startDate\": \"2021-01-11\",\n        \"endDate\": \"2021-01-12\",\n        \"spend\": null,\n        \"status\": \"Active\"\n    }\n            \nA budget limits the spend of a seller for one or more campaigns.\n            \nThere are three types of budget:<br /><b>Uncapped</b> budgets put no limit on the total amount of spend.<br /><b>Capped</b> budgets limit the total spend to a fixed amount.<br /><b>Daily</b> budgets limit daily spend to a fixed amount.<br />\n            \nIn addition, budgets can limit the spend to a specific range of dates using\nthe start and end date attributes. Finally a budget must be active to be used.\n            \n<b>Spend</b> approximates the current spend against this budget. There may be a lag\nbetween when an ad is clicked and the time it accrues to the spend. Daily budgets\nshow spend against the most recent day only."
      operationId: GetMarketplaceSellerBudget
      parameters:
      - name: budgetId
        in: path
        description: Id of the budget.
        required: true
        schema:
          type: string
          format: int64
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerBudgetMessage'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
    patch:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/marketplace-performance-outcomes/budgets/{budgetId}
      description: "Modify an existing active budget to change its limitations or status.\nAll three types of budgets can be modified.\n            \nSee the additional restrictions listed in the PATCH budgets endpoint."
      operationId: UpdateMarketplaceSellerBudget
      parameters:
      - name: budgetId
        in: path
        description: Id of the budget
        required: true
        schema:
          type: string
          format: int64
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSellerBudgetMessageBase'
        required: true
        x-bodyName: message
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerBudgetMessage'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/marketplace-performance-outcomes/seller-campaigns:
    get:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/marketplace-performance-outcomes/seller-campaigns
      description: 'Return a collection of seller campaigns filtered by optional filter parameters.

        If all parameters are omitted the entire collection to which the user has

        access is returned. Returned sellers must satisfy all supplied filter

        criteria if multiple parameters are used.'
      operationId: GetMarketplaceSellerCampaigns
      parameters:
      - name: advertiserId
        in: query
        description: Return only seller belonging to the specified advertiser
        schema:
          type: integer
          format: int32
      - name: budgetStatus
        in: query
        description: Return only seller campaigns whose budget has the given status.
        schema:
          enum:
          - Archived
          - Current
          - Scheduled
          type: string
      - name: campaignId
        in: query
        description: Return only seller campaigns associated with the given campaign.
        schema:
          type: integer
          format: int32
      - name: sellerId
        in: query
        description: Return only seller campaigns belonging to the given seller.
        schema:
          type: string
      - name: sellerStatus
        in: query
        description: Return only seller campaigns for sellers with the given status.
        schema:
          enum:
          - Inactive
          - Active
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SellerCampaignMessage'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
    patch:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/marketplace-performance-outcomes/seller-campaigns
      description: "Patching a collection of seller campaigns allows their bids to be modified.\nEach bid must be a non-negative value. Setting the bid to zero will make a seller campaign inactive.\n            \nThe currency used for bids will be the default currency of the campaign."
      operationId: UpdateMarketplaceSellerCampaigns
      requestBody:
        description: ''
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/SellerCampaignUpdate'
        required: true
        x-bodyName: campaignMessages
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SellerCampaignMessage'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/marketplace-performance-outcomes/seller-campaigns/{sellerCampaignId}:
    get:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/marketplace-performance-outcomes/seller-campaigns/{sellerCampaignId}
      description: "Return details for a seller campaign. For example,\n            \n    {\n        \"id\": \"543210.123456\",\n        \"sellerId\": \"543210\",\n        \"campaignId\": 123456,\n        \"bid\": 1.55,\n        \"suspendedSince\": \"2018-07-30T15:15:24.813\",\n        \"suspensionReasons\": [\n            \"NoMoreBudget\"\n        ]\n    }\n            \nAn active seller campaign is one for which the value of <b>suspendedSince</b> is null and\nthe <b>bid</b> is positive. The currency of the bid is the <b>bidCurrency</b> of the\nassociated campaign.\n            \nAny active seller campaign must also have an active total (capped or uncapped) budget.\nIt may optionally have an active daily budget as well to further limit spending.\n            \nSuspension reasons:\n- ManuallyStopped: The Seller-Campaign has been manually paused. This is not related to the other suspension reasons.\n- NoBudgetDefined: No valid budget has been linked to the Seller-Campaign.\n- NoCpcDefined: No CPC has been set for the Seller-Campaign.\n- NoMoreBudget: The current budget of the Seller-Campaign has been exhausted.\n- RemovedFromCatalog: All the products of the Seller-Campaign have been deleted from the catalog.\n- NotYetStarted: The Seller-Campaign has just been created and has not yet been processed."
      operationId: GetMarketplaceSellerCampaign
      parameters:
      - name: sellerCampaignId
        in: path
        description: Composite id of the seller campaign in the format `{sellerId}.{campaignId}`, e.g. `2578464.187625`.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerCampaignMessage'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
    patch:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/marketplace-performance-outcomes/seller-campaigns/{sellerCampaignId}
      description: "Patching a seller campaign allows the bid to be modified. The bid must be a non-negative value.\nSetting the bid to zero will make a seller campaign inactive.\n            \nThe currency used for bids will be the default currency of the campaign."
      operationId: UpdateMarketplaceSellerCampaign
      parameters:
      - name: bid
        in: query
        description: The new bid for the seller campaign.
        schema:
          type: number
          format: double
      - name: sellerCampaignId
        in: path
        description: Composite id of the seller campaign to update in the format `{sellerId}.{campaignId}`, e.g. `2578464.187625`.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerCampaignMessage'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/marketplace-performance-outcomes/seller-campaigns/{sellerCampaignId}/budgets:
    get:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/marketplace-performance-outcomes/seller-campaigns/{sellerCampaignId}/budgets
      description: "Return a collection of budgets for this seller campaign filtered by optional filter parameters.\nIf all parameters are omitted the entire collection to which the user has\naccess is returned, except those whose endDate is in the past. Returned budgets must satisfy all supplied filter\ncriteria if multiple parameters are used.\n            \nSee the budgets endpoint for additional details."
      operationId: GetMarketplaceBudgetsBySellerCampaign
      parameters:
      - name: endAfterDate
        in: query
        description: "Return budgets that end after the given date using the `yyyy-MM-DD` format.\n             If param is not provided, default behavior is to only return budgets that have not yet ended."
        schema:
          type: string
          format: date-time
      - name: sellerCampaignId
        in: path
        description: 'Return only budgets belonging to the given seller campaign. Format: `{sellerId}.{campaignId}`, e.g. `2578464.187625`.'
        required: true
        schema:
          type: string
      - name: startBeforeDate
        in: query
        description: Return budgets that start on or before the given date using the `yyyy-MM-DD` format.
        schema:
          type: string
          format: date-time
      - name: status
        in: query
        description: Return only budgets with the given status.
        schema:
          enum:
          - Archived
          - Current
          - Scheduled
          type: string
      - name: type
        in: query
        description: Return only budgets with the given budget type.
        schema:
          type: string
      - name: withBalance
        in: query
        description: Return only budgets with a positive balance.
        schema:
          type: boolean
      - name: withSpend
        in: query
        description: Return budgets with a positive spend.
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SellerBudgetMessage'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/marketplace-performance-outcomes/sellers:
    get:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/marketplace-performance-outcomes/sellers
      description: 'Return a collection of sellers filtered by optional filter parameters.

        If all parameters are omitted the entire collection to which the user has

        access is returned. Returned sellers must satisfy all supplied filter

        criteria if multiple parameters are used.'
      operationId: GetMarketplaceSellers
      parameters:
      - name: advertiserId
        in: query
        description: Return only sellers belonging to the specified advertiser
        schema:
          type: integer
          format: int32
      - name: campaignId
        in: query
        description: Return only sellers belonging to the specified campaign
        schema:
          type: integer
          format: int32
      - name: sellerName
        in: query
        description: Return only sellers with the matching name.
        schema:
          type: string
      - name: sellerStatus
        in: query
        description: Return only sellers with specific status.
        schema:
          enum:
          - Inactive
          - Active
          type: string
      - name: withBudgetStatus
        in: query
        description: Return only sellers with specific budget status.
        schema:
          enum:
          - Archived
          - Current
          - Scheduled
          type: string
      - name: withProducts
        in: query
        description: Return only sellers with or without products in catalog.
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SellerBase'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/marketplace-performance-outcomes/sellers/{sellerId}:
    get:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/marketplace-performance-outcomes/sellers/{sellerId}
      description: "Return details for the selected seller. For example,\n            \n    {\n        \"id\" : \"123456\"\n        \"sellerName\": \"HBogart\",\n    }"
      operationId: GetMarketplaceSeller
      parameters:
      - name: sellerId
        in: path
        description: Id of the seller.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerBase'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/marketplace-performance-outcomes/sellers/{sellerId}/budgets:
    get:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/marketplace-performance-outcomes/sellers/{sellerId}/budgets
      description: Return current (non-archived) budgets for this seller. Budgets whose endDate is in the past are excluded by default. To retrieve archived or past budgets, use the `/budgets` endpoint (GetMarketplaceSellerBudgets) with the `endAfterDate` filter instead.
      operationId: GetMarketplaceBudgetsBySeller
      parameters:
      - name: campaignId
        in: query
        description: Return only budgets that pay for a given campaign.
        schema:
          type: integer
          format: int32
      - name: endAfterDate
        in: query
        description: "Return budgets that end after the given date using the `yyyy-MM-DD` format.\n            If param is not provided, default behavior is to only return budgets that have not yet ended."
        schema:
          type: string
          format: date-time
      - name: sellerId
        in: path
        description: Return only budgets belonging to the given seller.
        required: true
        schema:
          type: string
      - name: startBeforeDate
        in: query
        description: Return budgets that start on or before the given date using the `yyyy-MM-DD` format.
        schema:
          type: string
          format: date-time
      - name: status
        in: query
        description: Return only budgets with the given status.
        schema:
          enum:
          - Archived
          - Current
          - Scheduled
          type: string
      - name: type
        in: query
        description: Return only budgets with the given budget type.
        schema:
          type: string
      - name: withBalance
        in: query
        description: Return only budgets with the given status.
        schema:
          type: boolean
      - name: withSpend
        in: query
        description: Return budgets with any positive spend.
        schema:
          type: boolean
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SellerBudgetMessage'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/marketplace-performance-outcomes/sellers/{sellerId}/seller-campaigns:
    get:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/marketplace-performance-outcomes/sellers/{sellerId}/seller-campaigns
      description: 'Return a collection of seller campaigns for this seller filtered by optional filter parameters.

        If all parameters are omitted the entire collection to which the user has

        access is returned. Returned sellers must satisfy all supplied filter

        criteria if multiple parameters are used. See the seller campaigns endpoint for additional details.'
      operationId: GetMarketplaceSellerCampaignsBySeller
      parameters:
      - name: budgetStatus
        in: query
        description: Return only seller campaigns whose budget has the given status.
        schema:
          enum:
          - Archived
          - Current
          - Scheduled
          type: string
      - name: campaignId
        in: query
        description: Return only seller campaigns associated with the given campaign.
        schema:
          type: integer
          format: int32
      - name: sellerId
        in: path
        description: Return only seller campaigns belonging to the given seller.
        required: true
        schema:
          type: string
      - name: sellerStatus
        in: query
        description: Return only seller campaigns for sellers with the given status.
        schema:
          enum:
          - Inactive
          - Active
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/SellerCampaignMessage'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
    post:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/marketplace-performance-outcomes/sellers/{sellerId}/seller-campaigns
      description: Associate an existing Seller with an existing Campaign allowing for budget creation
      operationId: CreateMarketplaceSellerCampaignsBySeller
      parameters:
      - name: sellerId
        in: path
        description: Supply a generated Id of an existing Seller
        required: true
        schema:
          type: string
      requestBody:
        description: Supply the campaign Id and bid to create the mapping
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSellerCampaignMessageMapi'
        required: true
        x-bodyName: sellerCampaign
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SellerCampaignMessage'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Manage
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/marketplace-performance-outcomes/stats/campaigns:
    get:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/marketplace-performance-outcomes/stats/campaigns
      description: "## Dimensions\n            \nGet performance statistics aggregated for _campaigns_. The campaign id appears\nin the output as the first column.\n            \nAggregation can be done by `hour`, `day`, `month`, or `year` aligned with the user timezone\nif provided. The aggregation interval size is controlled by `intervalSize`. The time\ninterval appears in the output as the second column.\n            \n## Metrics\n            \nThe metrics reported by this endpoint are\n            \n.  | Metric Group | Description\n---|--------------|------------\nA | impressions | Number of times product is shown in a banner\nB | clicks | Number of clicks on product\nC | cost | Amount spent for clicks on products\nD | saleUnits | Number of products sold attributed to clicks\nE | revenue | Revenue generated by sales\nF | CR = Conversion Rate | salesUnits / clicks\nG | CPO = Cost Per Order | cost / salesUnits\nH | COS = Cost of Sale | cost / revenue\nI | ROAS = Return On Add Spend | revenue / cost\n            \nThe last six metrics can be computed in two ways depending on the policy to count only\nthe sales that result from clicks on the same sellers product in a banner\n(same-seller) or not (any-seller).  Reporting can be controlled by `clickAttributionPolicy`.\n            \nThe 9 (or 15) metric values appear in the output as the final 9 (or 15) columns.\n            \n## Filtering\n            \nThe results can be filtered by campaign, date or count.\n            \nFiltering the results to events associated with a specific campaign is done by setting\nthe `campaignId` filter parameter to the desired value.\n            \nFiltering the results to events\nthat happened in a time interval is done by setting the `startDate` and\n`endDate` filter parameters using the `yyyy-MM-DD` format. The start date\nincludes all events timestamped since the beginning of that day while the end\ndate includes events until the end of day. The maximum duration of the date\nrange is 1 year. If the aggregation interval is `hour`, then the maximum\nduration of the date range is 31 days. Note that month and year aggregate values\nmay contain partial data for the interval if filtering by date.\n            \nFiltering the results to a maximum number of data rows is done by setting the\n`count` filter parameter. When combined with startDate this can be used to perform\nsimple pagination.\n            \n## Response Format\n            \nThe representation format can be specified by MIME values in the Accept header.\nFor now the only supported values for the accept header is `application/json` and\n`text/csv`.\n            \n```json\n{\n   \"columns\": [ \"campaignId\", \"month\", \"impressions\", \"clicks\", \"cost\", \"saleUnits\", \"revenue\", \"cr\", \"cpo\", \"cos\", \"roas\" ],\n   \"data\": [\n       [168423, \"2019-05-01\", 3969032, 13410, 1111.295, 985, 190758099, 0.073, 1.128, 0.000, 171653.880 ],\n       [168423, \"2019-06-01\", 8479603, 25619, 2190.705, 740, 152783656, 0.028, 2.960, 0.000, 69741.775 ]\n       ],\n   \"rows\": 2\n}\n```\n            \nThe JSON result is an object with three fields (`columns`, `data`, and `rows`). The\n“columns” array acts as the header for the data rows. The categorical dimension\ncolumn comes first and consists of the campaign id.\nThe interval column comes next and defines the aggregation period.  The interval size is\ndetermined by the `intervalSize` parameter. This is followed by either nine or\nfifteen metrics columns. The first three metrics (impressions, clicks, and cost)\nalways appear. The remaining depend on the `clickAttributionPolicy` parameter.\n            \nThe “data” array contains data rows whose values match the entries in the\n“columns” array. Id dimensions are numbers while name and date dimensions are strings. The metrics are JSON objects\nwhose type is number. Some of these are natural numbers (e.g. clicks and\nimpressions) whereas others are decimal values. A divide by zero yields null. The\ncurrency is assumed to be the local currency established by the advertiser.\n            \nThe “row” value is a count of the number of rows in the data array, and can be\nused to check the integrity of the data.\n            \nFurther information on the campaign or seller (e.g. the seller name) can be\nobtained from the existing V1 or V2 endpoints using the campaign and/or seller\nID values."
      operationId: GetMarketplaceCampaignsStats
      parameters:
      - name: advertiserId
        in: query
        description: Filter metrics to this advertiser. Strongly recommended — omitting this on large accounts causes timeouts.
        schema:
          type: integer
          format: int32
      - name: campaignId
        in: query
        description: Show only metrics for this campaign (default all campaigns)
        schema:
          type: string
      - name: clickAttributionPolicy
        in: query
        description: Specify the click attribution policy for salesUnits, revenue, CR, CPO, COS, and ROAS
        schema:
          enum:
          - Both
          - SameSeller
          - AnySeller
          type: string
          default: AnySeller
      - name: count
        in: query
        description: Return up to the first count rows of data (default is all rows)
        schema:
          type: integer
          format: int32
      - name: endDate
        in: query
        description: Filter out all events that occur after date (default is today’s date)
        schema:
          type: string
          format: date-time
      - name: intervalSize
        in: query
        description: Specify the aggregation interval for events used to compute stats (default is "day")
        schema:
          enum:
          - Hour
          - Day
          - Month
          - Year
          type: string
          default: Day
      - name: startDate
        in: query
        description: Filter out all events that occur before date (default is the value of `endDate`)
        schema:
          type: string
          format: date-time
      - name: timeZoneId
        in: query
        description: Specify the timezone used in the aggregations (IANA code).
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsReportMessage'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/marketplace-performance-outcomes/stats/seller-campaigns:
    get:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/marketplace-performance-outcomes/stats/seller-campaigns
      description: "## Dimensions\n            \nGet performance statistics aggregated for _seller campaigns_.The campaign id, seller id, and\nseller name appear in the first three columns of the output. These are followed by the interval\nsize column.\n            \nAggregation can be done by `hour`, `day`, `month`, or `year` aligned with the user timezone if\nprovided. The aggregation interval size is controlled by `intervalSize`. The remaining columns\nare metrics.\n            \n## Metrics\n            \nThe metrics reported by this endpoint are\n            \n.  | Metric Group | Description\n---|--------------|------------\nA | impressions | Number of times product is shown in a banner\nB | clicks | Number of clicks on product\nC | cost | Amount spent for clicks on products\nD | saleUnits | Number of products sold attributed to clicks\nE | revenue | Revenue generated by sales\nF | CR = Conversion Rate | salesUnits / clicks\nG | CPO = Cost Per Order | cost / salesUnits\nH | COS = Cost of Sale | cost / revenue\nI | ROAS = Return On Add Spend | revenue / cost\n            \nThe last six metrics can be computed in two ways depending on the policy to count only\nthe sales that result from clicks on the same sellers product in a banner\n(same-seller) or not (any-seller).  Reporting can be controlled by `clickAttributionPolicy`.\n            \nThe 9 (or 15) metric values appear in the output as the final 9 (or 15) columns.\n            \n## Filtering\n            \nThe results can be filtered by date or count.\n            \nFiltering the results to events associated with a specific campaign is done by setting\nthe `campaignId` filter parameter to the desired value.\n            \nFiltering the results to events associated with a specific seller is done by setting\nthe `sellerId` filter parameter to the desired value.\n            \nFiltering the results to events\nthat happened in a time interval is done by setting the `startDate` and\n`endDate` filter parameters using the `yyyy-MM-DD` format. The start date\nincludes all events timestamped since the beginning of that day while the end\ndate includes events until the end of day. The maximum duration of the date\nrange is 1 year. If the aggregation interval is `hour`, then the maximum\nduration of the date range is 31 days. Note that month and year aggregate values\nmay contain partial data for the interval if filtering by date.\n            \nFiltering the results to a maximum number of data rows is done by setting the\n`count` filter parameter. When combined with startDate this can be used to perform\nsimple pagination.\n            \n## Response Format\n            \nThe representation format can be specified by MIME values in the Accept header.\nFor now the only supported values for the accept header is `application/json` and\n`text/csv`.\n            \n```json\n{\n    \"columns\": [\n        \"campaignId\", \"sellerId\", \"sellerName\", \"month\", \"impressions\", \"clicks\", \"cost\", \"saleUnits\", \"revenue\", \"cr\", \"cpo\", \"cos\", \"roas\"\n    ],\n    \"data\": [\n        [168423, 1110222, \"118883955\", \"2019-05-01\", 14542, 48, 3.36, 0, 0.0, 0.0, null, null, 0.0],\n        [168423, 1110222, \"118883955\", \"2019-06-01\", 16619, 53, 3.71, 0, 0.0, 0.0, null, null, 0.0],\n        [168423, 1110225, \"117980027\", \"2019-05-01\", 12502, 48, 3.36, 0, 0.0, 0.0, null, null, 0.0],\n        [168423, 1110225, \"117980027\", \"2019-06-01\", 20266, 53, 3.71, 0, 0.0, 0.0, null, null, 0.0]\n    ],\n    \"rows\": 4\n}\n```\n            \nThe JSON result is an object with three fields (`columns`, `data`, and `rows`). The\n“columns” array acts as the header for the data rows. The categorical dimension\ncolumns come first and include the campaign id, seller id, and seller name.\nThe interval column comes next and defines the aggregation period. The interval size is\ndetermined by the `intervalSize` parameter. This is followed by either nine or\nfifteen metrics columns. The first three metrics (impressions, clicks, and cost)\nalways appear. The remaining depend on the `clickAttributionPolicy` parameter.\n            \nThe “data” array contains data rows whose values match the entries in the\n“columns” array. Id dimensions are numbers while name and date dimensions are strings. The metrics are JSON objects\nwhose type is number. Some of these are natural numbers (e.g. clicks and\nimpressions) whereas others are decimal values. A divide by zero yields null. The\ncurrency is assumed to be the local currency established by the advertiser.\n            \nThe “row” value is a count of the number of rows in the data array, and can be\nused to check the integrity of the data.\n            \nFurther information on the campaign or seller (e.g. the seller name) can be\nobtained from the existing V1 or V2 endpoints using the campaign and/or seller\nID values."
      operationId: GetMarketplaceSellerCampaignsStats
      parameters:
      - name: advertiserId
        in: query
        description: Filter metrics to this advertiser. Strongly recommended — omitting this on large accounts causes timeouts.
        schema:
          type: integer
          format: int32
      - name: campaignId
        in: query
        description: Show only metrics for this campaign (default all campaigns)
        schema:
          type: string
      - name: clickAttributionPolicy
        in: query
        description: Specify the click attribution policy for salesUnits, revenue, CR, CPO, COS, and ROAS
        schema:
          enum:
          - Both
          - SameSeller
          - AnySeller
          type: string
          default: AnySeller
      - name: count
        in: query
        description: Return up to the first count rows of data (default is all rows)
        schema:
          type: integer
          format: int32
      - name: endDate
        in: query
        description: Filter out all events that occur after date (default is today’s date)
        schema:
          type: string
          format: date-time
      - name: intervalSize
        in: query
        description: Specify the aggregation interval for events used to compute stats (default is "day")
        schema:
          enum:
          - Hour
          - Day
          - Month
          - Year
          type: string
          default: Day
      - name: sellerId
        in: query
        description: Show only metrics for this seller (default all sellers)
        schema:
          type: string
      - name: startDate
        in: query
        description: Filter out all events that occur before date (default is the value of `endDate`)
        schema:
          type: string
          format: date-time
      - name: timeZoneId
        in: query
        description: Specify the timezone used in the aggregations (IANA code).
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsReportMessage'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
    servers:
    - url: https://api.criteo.com
  /2026-07/marketing-solutions/marketplace-performance-outcomes/stats/sellers:
    get:
      tags:
      - Campaign
      summary: /2026-07/marketing-solutions/marketplace-performance-outcomes/stats/sellers
      description: "## Dimensions\n            \nGet performance statistics aggregated for _sellers_. The seller id appears\nin the output in the first column and the seller name appears in the second.\n            \nAggregation can be done by `hour`, `day`, `month`, or `year` aligned with the user timezone\nif provided. The aggregation interval size is controlled by `intervalSize`. The time interval\nappears in the output as the second column.\n            \n## Metrics\n            \nThe metrics reported by this endpoint are\n            \n.  | Metric Group | Description\n---|--------------|------------\nA | impressions | Number of times product is shown in a banner\nB | clicks | Number of clicks on product\nC | cost | Amount spent for clicks on products\nD | saleUnits | Number of products sold attributed to clicks\nE | revenue | Revenue generated by sales\nF | CR = Conversion Rate | salesUnits / clicks\nG | CPO = Cost Per Order | cost / salesUnits\nH | COS = Cost of Sale | cost / revenue\nI | ROAS = Return On Add Spend | revenue / cost\n            \nThe last six metrics can be computed in two ways depending on the policy to count only\nthe sales that result from clicks on the same sellers product in a banner\n(same-seller) or not (any-seller).  Reporting can be controlled by `clickAttributionPolicy`.\n            \nThe 9 (or 15) metric values appear in the output as the final 9 (or 15) columns.\n            \n## Filtering\n            \nThe results can be filtered by seller id, date or count.\n            \nFiltering the results to events associated with a specific seller is done by setting\nthe `sellerId` filter parameter to the desired value.\n            \nFiltering the results to events\nthat happened in a time interval is done by setting the `startDate` and\n`endDate` filter parameters using the `yyyy-MM-DD` format. The start date\nincludes all events timestamped since the beginning of that day while the end\ndate includes events until the end of day. The maximum duration of the date\nrange is 1 year. If the aggregation interval is `hour`, then the maximum\nduration of the date range is 31 days. Note that month and year aggregate values\nmay contain partial data for the interval if filtering by date.\n            \nFiltering the results to a maximum number of data rows is done by setting the\n`count` filter parameter. When combined with startDate this can be used to perform\nsimple pagination.\n            \n## Response Format\n            \nThe representation format can be specified by MIME values in the Accept header.\nFor now the only supported values for the accept header is `application/json` and\n`text/csv`.\n            \n```json\n{\n    \"columns\": [\"sellerId\", \"sellerName\", \"month\", \"impressions\", \"clicks\", \"cost\", \"saleUnits\", \"revenue\", \"cr\", \"cpo\", \"cos\", \"roas\"],\n    \"data\": [\n       [1200972, \"sellerA\", \"2019-05-01\", 14542, 48, 3.36, 0, 0.0, 0.0, null, null, 0.0],\n       [1200972, \"sellerA\", \"2019-06-01\", 16619, 53, 3.71, 0, 0.0, 0.0, null, null, 0.0],\n       [1200974, \"sellerB\", \"2019-05-01\", 10102, 47, 3.29, 3, 396000.0, 0.063, 1.096, 8.308E-6, 120364.741],\n       [1200974, \"sellerB\", \"2019-06-01\", 11576, 54, 3.78, 1, 132000.0, 0.018, 3.78, 2.863E-5, 34920.634]\n    ],\n    \"rows\": 4\n}\n```\n            \nThe JSON result is an object with three fields (`columns`, `data`, and `rows`). The\n“columns” array acts as the header for the data rows. The categorical dimension\ncolumns come first and include the seller id and seller name.\nThe interval column comes next and defines the aggregation period. The interval size is\ndetermined by the `intervalSize` parameter. This is followed by either nine or\nfifteen metrics columns. The first three metrics (impressions, clicks, and cost)\nalways appear. The remaining metrics depend on the `clickAttributionPolicy` parameter.\n            \nThe “data” array contains data rows whose values match the entries in the\n“columns” array. Id dimensions are numbers while name and date dimensions are strings. The metrics are JSON objects\nwhose type is number. Some of these are natural numbers (e.g. clicks and\nimpressions) whereas others are decimal values. A divide by zero yields null. The\ncurrency is assumed to be the local currency established by the advertiser.\n            \nThe “row” value is a count of the number of rows in the data array, and can be\nused to check the integrity of the data.\n            \nFurther information on the campaign or seller (e.g. the seller name) can be\nobtained from the existing V1 or V2 endpoints using the campaign and/or seller\nID values."
      operationId: GetMarketplaceSellersStats
      parameters:
      - name: advertiserId
        in: query
        description: Filter metrics to this advertiser. Strongly recommended — omitting this on large accounts causes timeouts.
        schema:
          type: integer
          format: int32
      - name: clickAttributionPolicy
        in: query
        description: Specify the click attribution policy for salesUnits, revenue, CR, CPO, COS, and ROAS
        schema:
          enum:
          - Both
          - SameSeller
          - AnySeller
          type: string
          default: AnySeller
      - name: count
        in: query
        description: Return up to the first count rows of data (default is all rows)
        schema:
          type: integer
          format: int32
      - name: endDate
        in: query
        description: Filter out all events that occur after date (default is today’s date)
        schema:
          type: string
          format: date-time
      - name: intervalSize
        in: query
        description: Specify the aggregation interval for events used to compute stats (default is "day")
        schema:
          enum:
          - Hour
          - Day
          - Month
          - Year
          type: string
          default: Day
      - name: sellerId
        in: query
        description: Show only metrics for this seller (default all sellers)
        schema:
          type: string
      - name: startDate
        in: query
        description: Filter out all events that occur before date (default is the value of `endDate`)
        schema:
          type: string
          format: date-time
      - name: timeZoneId
        in: query
        description: Specify the timezone used in the aggregations (IANA code).
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatsReportMessage'
      security:
      - oauth:
        - MarketingSolutions_Campaign_Read
    servers:
    - url: https://api.criteo.com
  /2026-07/retail-media/accounts/{account-id}/campaigns:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{account-id}/campaigns
      description: Gets page of campaign objects for the given account id
      operationId: GetCampaignsByAccountId
      parameters:
      - name: account-id
        in: path
        description: The given account id
        required: true
        schema:
          type: string
      - name: limitToId
        in: query
        description: The ids that you would like to limit your result set to
        schema:
          type: array
          items:
            type: string
      - name: pageIndex
        in: query
        description: The 0 indexed page index you would like to receive given the page size
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        description: The maximum number of items you would like to receive in this request
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
          default: 25
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfCampaignV202301'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{account-id}/campaigns
      description: Creates a new campaign with the specified settings
      operationId: CreateCampaignsByAccountId
      parameters:
      - name: account-id
        in: path
        description: The given account id
        required: true
        schema:
          type: string
      requestBody:
        description: The campaign settings to create a campaign with
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostCampaignV202301'
        required: true
        x-bodyName: campaign
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCampaignV202301'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
    servers:
    - url: https://api.criteo.com
  /2026-07/retail-media/accounts/{account-id}/creatives:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{account-id}/creatives
      description: Get account creatives
      operationId: GetAccountCreatives
      parameters:
      - name: account-id
        in: path
        description: External account id to retrieve creatives for
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Creatives found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative202110ListResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{account-id}/creatives
      description: Create a creative for an account
      operationId: CreateCreative
      parameters:
      - name: account-id
        in: path
        description: External account id to create a creative for
        required: true
        schema:
          type: string
      requestBody:
        description: The creative to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeCreateModel202207'
        required: true
      responses:
        '201':
          description: Creatives created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative202210Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
    servers:
    - url: https://api.criteo.com
  /2026-07/retail-media/accounts/{account-id}/creatives/{creative-id}:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{account-id}/creatives/{creative-id}
      description: Get the specified creative
      operationId: GetCreative
      parameters:
      - name: account-id
        in: path
        description: External account id to retrieve creatives for
        required: true
        schema:
          type: string
      - name: creative-id
        in: path
        description: Creative to get
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Creatives found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative2Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    put:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{account-id}/creatives/{creative-id}
      description: Update a creative
      operationId: UpdateCreative
      parameters:
      - name: account-id
        in: path
        description: External account id containing the creative
        required: true
        schema:
          type: string
      - name: creative-id
        in: path
        description: Creative to update
        required: true
        schema:
          type: string
      requestBody:
        description: The creative to create
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreativeUpdateModel202207'
        required: true
      responses:
        '201':
          description: Creative updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative202210Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
    servers:
    - url: https://api.criteo.com
  /2026-07/retail-media/accounts/{account-id}/creatives/search:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{account-id}/creatives/search
      description: Get account creatives
      operationId: SearchAccountCreatives
      parameters:
      - name: account-id
        in: path
        description: External account id to retrieve creatives for
        required: true
        schema:
          type: string
      - name: creative-ids
        in: query
        description: Creatives to filter by
        schema:
          type: array
          items:
            type: string
      responses:
        '200':
          description: Creatives found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Creative2ListResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    servers:
    - url: https://api.criteo.com
  /2026-07/retail-media/accounts/{account-id}/keywords/in-review-report:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{account-id}/keywords/in-review-report
      description: Generate a list of reports for line items which contain one or more actionable keyword reviews
      operationId: GetKeywordInReviewReport
      parameters:
      - name: account-id
        in: path
        description: The account to generate a report for
        required: true
        schema:
          type: string
          format: int64
      - name: limit
        in: query
        description: Number of items per page
        schema:
          maximum: 50
          minimum: 1
          type: integer
          format: int32
          default: 25
      - name: offset
        in: query
        description: Offset for pagination
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeLineItemKeywordReviewReportAndMetadata'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    servers:
    - url: https://api.criteo.com
  /2026-07/retail-media/accounts/{account-id}/line-items:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{account-id}/line-items
      description: Gets page of line item objects for the given account id
      operationId: GetLineItemsByAccountId
      parameters:
      - name: account-id
        in: path
        description: The given account id
        required: true
        schema:
          type: string
      - name: limitToCampaignId
        in: query
        description: The campaign ids that you would like to limit your result set to
        schema:
          type: array
          items:
            type: string
      - name: limitToId
        in: query
        description: The ids that you would like to limit your result set to
        schema:
          type: array
          items:
            type: string
      - name: limitToType
        in: query
        description: The campaign types that you would like to limit your result set to
        schema:
          enum:
          - Unknown
          - Auction
          - Preferred
          type:
          - string
          - 'null'
      - name: pageIndex
        in: query
        description: The 0 indexed page index you would like to receive given the page size
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        description: The maximum number of items you would like to receive in this request
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
          default: 25
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CommonLineItemPagedListResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    servers:
    - url: https://api.criteo.com
  /2026-07/retail-media/accounts/{accountId}/brand-catalog-export:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{accountId}/brand-catalog-export
      description: Create a request for a Catalog available to the indicated account.
      operationId: CreateBrandCatalogExport
      parameters:
      - name: accountId
        in: path
        description: The account to request the catalog for.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfBrandCatalogRequestV2'
        required: true
      responses:
        '200':
          description: Catalog request successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
    servers:
    - url: https://api.criteo.com
  /2026-07/retail-media/accounts/{accountId}/brands:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{accountId}/brands
      description: Gets page of retailer objects that are associated with the given account
      operationId: GetBrandsByAccountId
      parameters:
      - name: accountId
        in: path
        description: The given account id
        required: true
        schema:
          type: string
      - name: limitToId
        in: query
        description: The ids that you would like to limit your result set to
        schema:
          type: array
          items:
            type: string
      - name: pageIndex
        in: query
        description: The 0 indexed page index you would like to receive given the page size
        schema:
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        description: The maximum number of items you would like to receive in this request
        schema:
          type: integer
          format: int32
          default: 25
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiPageResponseOfBrand'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    servers:
    - url: https://api.criteo.com
  /2026-07/retail-media/accounts/{accountId}/catalogs:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{accountId}/catalogs
      description: Create a request for a Catalog available to the indicated account.
      operationId: CatalogApi_PostApiV1ExternalAccountCatalogsByAccountId
      parameters:
      - name: accountId
        in: path
        description: The account to request the catalog for.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonApiRequestOfCatalogRequest'
        required: true
      responses:
        '200':
          description: Catalog request successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    servers:
    - url: https://api.criteo.com
  /2026-07/retail-media/accounts/{accountId}/catalogs/sellers:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{accountId}/catalogs/sellers
      description: Create a request for a Catalog available to the indicated account.
      operationId: Catalog_PostApiExternalV1AccountCatalogsSellersByAccountId
      parameters:
      - name: accountId
        in: path
        description: The account to request the catalog for.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonApiRequestOfSellerCatalogRequest'
        required: true
      responses:
        '200':
          description: Catalog request successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCatalogStatus'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    servers:
    - url: https://api.criteo.com
  /2026-07/retail-media/accounts/{accountId}/retailers/search:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{accountId}/retailers/search
      description: Searches for retailers associated with the specified account and returns budget model availability for each retailer
      operationId: SearchAccountRetailers
      parameters:
      - name: accountId
        in: path
        description: The external account identifier
        required: true
        schema:
          type: string
      - name: limit
        in: query
        description: The maximum number of items to return. Must be between 1 and 10. Default is 5.
        schema:
          maximum: 10
          minimum: 1
          type: integer
          format: int32
          default: 5
      - name: offset
        in: query
        description: The number of items to skip before starting to collect the result set. Default is 0.
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      requestBody:
        description: The search request containing filtering parameters
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfRetailerSearchRequestV2'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceCollectionOutcomeOfRetailerResultV2AndMetadata'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    servers:
    - url: https://api.criteo.com
  /2026-07/retail-media/accounts/{accountId}/seller-catalog-export:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/accounts/{accountId}/seller-catalog-export
      description: Create a request for a Catalog available to the indicated account.
      operationId: CreateSellerCatalogExport
      parameters:
      - name: accountId
        in: path
        description: The account to request the catalog for.
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSellerCatalogRequestV2'
        required: true
      responses:
        '200':
          description: Catalog request successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfCatalogStatusV2'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
    servers:
    - url: https://api.criteo.com
  /2026-07/retail-media/assets:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/assets
      description: Creates an asset
      operationId: CreateAsset
      requestBody:
        content:
          multipart/form-data:
            schema:
              required:
              - AssetFile
              properties:
                AssetFile:
                  type: string
                  description: The asset binary content
                  format: binary
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AssetResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
    servers:
    - url: https://api.criteo.com
  /2026-07/retail-media/auction-line-items/{lineItemId}:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/auction-line-items/{lineItemId}
      description: Gets a sponsored product line item by its id.
      operationId: GetAuctionLineItem
      parameters:
      - name: lineItemId
        in: path
        description: The id of the line item
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfSponsoredProductsLineItem'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    put:
      tags:
      - Campaign
      summary: /2026-07/retail-media/auction-line-items/{lineItemId}
      description: Updates a Sponsored Products Line Item given a line item id and a request.
      operationId: UpdateAuctionLineItem
      parameters:
      - name: lineItemId
        in: path
        description: The external line item ID of the sponsored products line item.
        required: true
        schema:
          type: string
      requestBody:
        description: An update request containing all details of the requested update.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputOfSponsoredProductsLineItemUpdateRequestModel'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityResourceOutcomeOfSponsoredProductsLineItem'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
    servers:
    - url: https://api.criteo.com
  /2026-07/retail-media/balances/{balanceId}/campaigns/append:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/balances/{balanceId}/campaigns/append
      description: Appends one or more campaigns to the specified balance
      operationId: AppendCampaignsToBalanceV1
      parameters:
      - name: balanceId
        in: path
        description: The balance to add campaigns from
        required: true
        schema:
          type: string
      requestBody:
        description: The balance campaign appending request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputAppendCampaignsRequestV1'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeBalanceCampaignsV1'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
    servers:
    - url: https://api.criteo.com
  /2026-07/retail-media/balances/{balanceId}/campaigns/delete:
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/balances/{balanceId}/campaigns/delete
      description: Deletes one or more campaigns on the specified balance
      operationId: DeleteCampaignsFromBalanceV1
      parameters:
      - name: balanceId
        in: path
        description: The balance to remove campaigns from
        required: true
        schema:
          type: string
      requestBody:
        description: The balance campaign deleting request.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValueResourceInputDeleteCampaignsRequestV1'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValueResourceOutcomeBalanceCampaignsV1'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
    servers:
    - url: https://api.criteo.com
  /2026-07/retail-media/campaigns/{campaign-id}/preferred-line-items:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/campaigns/{campaign-id}/preferred-line-items
      description: Gets page of preferred line item objects for the given campaign id
      operationId: GetPreferredLineItemsByCampaignId
      parameters:
      - name: campaign-id
        in: path
        description: The given campaign id
        required: true
        schema:
          type: string
      - name: limitToId
        in: query
        description: The ids that you would like to limit your result set to
        schema:
          type: array
          items:
            type: string
      - name: pageIndex
        in: query
        description: The 0 indexed page index you would like to receive given the page size
        schema:
          maximum: 2147483647
          minimum: 0
          type: integer
          format: int32
          default: 0
      - name: pageSize
        in: query
        description: The maximum number of items you would like to receive in this request
        schema:
          maximum: 2147483647
          minimum: 1
          type: integer
          format: int32
          default: 25
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2PagedListResponse'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    post:
      tags:
      - Campaign
      summary: /2026-07/retail-media/campaigns/{campaign-id}/preferred-line-items
      description: Creates a new preferred line item with the specified settings
      operationId: CreatePreferredLineItemByCampaignId
      parameters:
      - name: campaign-id
        in: path
        description: The given campaign id
        required: true
        schema:
          type: string
      requestBody:
        description: The line item settings to create a line item with
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PreferredLineItemCreateModelV2Request'
        required: true
        x-bodyName: lineItem
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreferredLineItemV2Response'
      security:
      - oauth:
        - RetailMedia_Campaign_Manage
    servers:
    - url: https://api.criteo.com
  /2026-07/retail-media/campaigns/{campaignId}:
    get:
      tags:
      - Campaign
      summary: /2026-07/retail-media/campaigns/{campaignId}
      description: Gets the campaign for the given campaign id
      operationId: GetCampaignByCampaignId
      parameters:
      - name: campaignId
        in: path
        description: The given campaign id
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonApiSingleResponseOfCampaignV202301'
      security:
      - oauth:
        - RetailMedia_Campaign_Read
    put:
      tags:
      - Campaign
      summary: /2026-07/retail-media/campaigns/{campaignId}
      description: Updates the campaign for the given campaign id
      operationId: UpdateCampaignByCampaignId
      parameters:
      - name: campaignId
        in: path
        description: The given campaign id
        required: true
        schema:
          type: string
      requestBody:
        description: The campaign settings to update that campaign with
        content:
          application/json:
            schema:
[...]
